@use 'abstracts' as *;

.footer {
   @include m(pm) {
      padding: var(--ct-padding-ftr);
   }

   @include e(logo) {
      grid-area: logo;
   }

   @include e(nav) {
      grid-area: navigation;
      @include mq(min-width, tablet) {
         padding-bottom: 1.2rem;
      }

      @include mq(min-width, large) {
         padding-bottom: 0;
      }
   }

   @include e(address) {
      grid-area: address;
      margin-bottom: 1rem;
   }

   @include e(social) {
      grid-area: social;
   }

   @include e(copyright) {
      grid-area: copyright;
      @include mq(max-width, tablet) {
         margin-top: -1.5rem;
      }
   }
}

.grid-container--footer {
   grid-template-columns: 1fr;
   grid-auto-rows: auto;
   grid-template-areas:
      'logo'
      'navigation'
      'address'
      'social'
      'copyright';
   gap: var(--gap-ftr);
   @include mq(max-width, tablet) {
      place-items: center;
   }

   @include mq(min-width, tablet) {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: repeat(3, minmax(40px, auto));
      grid-template-areas:
         'logo . address'
         'navigation . .'
         'social . copyright';
   }

   @include mq(min-width, large) {
      grid-template-columns: repeat(2, auto) 1fr auto;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
         'logo address . social'
         'navigation address . copyright';
   }
}
