@use 'abstracts' as *;

.form {
   border-bottom: 1px solid white;
   &::placeholder {
      color: hsl(var(--clr-pm-white) / 0.7);
   }
   &:hover,
   &:focus {
      border-bottom-color: hsl(var(--clr-rapture-blue));
   }

   @include m(error) {
      border-bottom-color: hsl(var(--clr-pm-coral));
      &::placeholder {
         color: hsl(var(--clr-pm-coral) / 0.7);
      }
   }

   @include e(input) {
      padding: 1.5rem 0.7rem;
      @include mq(min-width, large) {
         padding: 1.1rem 0.7rem;
      }
   }

   @include e(text-area) {
      padding: 2rem 0.7rem 3rem;
      margin-bottom: 1.5rem;
      @include mq(min-width, large) {
         padding: 1.5rem 0.7rem 2rem;
         margin-bottom: 1.5rem;
      }
   }
}
