@use 'abstracts' as *;

.form {
   border-bottom: 1.5px solid white;
   cursor: pointer;
   transition: border-bottom 0.2s ease-in-out;
   &::placeholder {
      color: var(--clr-pm-white);
   }
   &:hover,
   &:focus {
      border-bottom: 1.5px solid var(--clr-rapture-blue);
   }

   @include e(input) {
      padding: 1.5rem 0.7rem;
      @include mq(min-width, large) {
         padding: 1.1rem 0.7rem;
      }
   }

   @include e(text-area) {
      resize: none;
      padding: 2rem 0.7rem 3rem;
      margin-bottom: 1.5rem;
      @include mq(min-width, large) {
         padding: 1.5rem 0.7rem 2rem;
         margin-bottom: 1.5rem;
      }
   }

   @include m(error) {
      border-bottom-color: var(--clr-pm-coral);
      &::placeholder {
         color: rgba(hsl(0 87% 73%), 0.7);
      }
   }
}
