@use 'abstracts' as *;

.header--pm {
   padding: var(--ct-padding-lg);
   outline: 3px solid red;
}

// nav

.nav--wide {
   @include mq(max-width, tablet) {
      display: none;
   }
}

// HERO

.hero--parent {
   margin-top: var(--margin-test);
}
