@use 'abstracts' as *;

.header {
   @include m(pm) {
      padding: var(--ct-padding-lg);
      outline: 3px solid var(--clr-pm-coral);
   }
   @include m(home) {
      padding-bottom: 13rem;
   }
   @include e(nav--container) {
      position: relative;
   }
}

.logo--pm {
   display: inline-block;
   // wide width slightly smaller - 90%
}

// HERO

.hero {
   @include m(parent) {
      margin-top: var(--margin-test);
   }
}
