@use 'abstracts' as *;

nav {
   & a {
      transition: color 0.2s ease-in-out;
      &:hover {
         color: var(--clr-pm-coral);
      }
   }
}

.nav {
   @include m(sd) {
      @include flexy($align: center);
      --gap: 2rem;
      gap: var(--gap);
   }

   @include m(wide) {
      @include mq(max-width, tablet) {
         display: none;
      }
      @include position($pos: absolute, $z-index: 2) {
         top: 50%;
         left: 200px;
         transform: translateY(-50%);
      }
      @include e(pm) {
         & > * {
            display: inline-block;
            &:not(:last-child) {
               --gap: 1.5rem;
               margin-right: var(--gap);
            }
         }
      }
   }
}
