@use 'abstracts' as *;

/*
   .nav > * {}
*/

.nav--sd {
   @include flexy($align: center);
   --gap: 2rem;
   gap: var(--gap);
}

nav {
   & a {
      transition: color 0.2s ease-in-out;
      &:hover {
         color: var(--clr-pm-coral);
      }
   }
}

// nav wide

.nav--wide,
.btn--wide {
   @include mq(max-width, tablet) {
      display: none;
   }
}
