@use 'abstracts' as *;

.btn {
   border-radius: 50px;

   // =========================================
   // primary
   // =========================================

   @include m(pm) {
      padding: 1em 3em;
      border: 2px solid;
      text-decoration: none;

      @include m(light) {
         // @extend %text-white;
         border-color: hsl(var(--clr-pm-white));
         &:hover {
            // @extend %bg-white;
            // @extend %text-dark;
         }
      }

      @include m(dark) {
         // @extend %text-dark;
         // @extend %bg-transparent;
         border-color: hsl(var(--clr-dark-green));
         &:hover {
            // @extend %bg-green-dark;
            // @extend %text-white;
         }
      }
   }

   // =========================================
   // secondary
   // =========================================

   @include m(sd) {
      // @extend %text-dark;
      // @extend %bg-white;
      padding: 0.5em 2em;
      border: none;
      outline: none;
      &:hover {
         // @extend %bg-rapture;
      }
   }

   @include m(contact) {
      padding: 0.7em 2em;
   }

   @include m(disabled) {
      opacity: 0.5;
   }
}
