@use 'abstracts' as *;

.btn {
   border-radius: 50px;
   padding: 1rem 3rem;
   @include m(disabled) {
      opacity: 0.5;
   }
   @include m(pm) {
      text-decoration: none;
      border: 2px solid;
      @include m(light) {
         border-color: hsl($clr-pm-white);
         &:hover {
            background-color: hsl($clr-pm-white);
            color: hsl($clr-dark-green);
         }
      }
      @include m(dark) {
         border-color: hsl($clr-dark-green);
         &:hover {
            background-color: hsl($clr-dark-green);
            color: hsl($clr-pm-white);
         }
      }
   }
   @include m(sd) {
      outline: none;
      border: none;
      &:hover {
         background-color: hsl($clr-rapture-blue);
      }
   }
}
