@use 'abstracts' as *;

.container {
   width: 90%;
   max-width: var(--align-mw);
   margin-inline: auto;

   @include m(build) {
      padding: var(--ct-padding-lg);
      --ct-padding-lg: 6.5rem 0 min(15vh, 8.5rem);
      @include bg-img(
         $img: '../assets/bg/bg-pattern-home-3.svg',
         $position: calc(100% + 128px) 0%,
         $size: 250px 333px
      );
      @include mq(min-width, tablet) {
         --ct-padding-lg: 7.5rem 0 min(15vh, 8.5rem);
         background-size: 250px 290px;
      }
      @include mq(min-width, large) {
         --ct-padding-lg: 10rem 0 min(20vh, 9rem);
         background-position: calc(100% + 82px) 100%;
         background-size: 165px 230px;
      }
   }

   @include m(testimonials) {
      --ct-padding-lg: 12rem 0 min(30vh, 14rem);
      padding: var(--ct-padding-lg);
      background-image: url('../assets/bg/bg-pattern-home-4-about-3.svg'),
         url('../assets/bg/bg-pattern-home-5.svg');
      background-repeat: no-repeat;
      background-position: calc(0% - 0px) 0%, calc(100% + 0px) 100%;
      background-size: 200px, 250px;
      @include mq(min-width, tablet) {
         --ct-padding-lg: 7rem 0 min(27vh, 10rem);
         background-size: 170px 120px, 210px 110px;
      }
      @include mq(min-width, large) {
         background-size: 150px 100px, 210px 110px;
      }
   }

   @include m(cta) {
      padding: var(--ct-padding-cta);
      @include bg-img(
         $img: '../assets/bg/bg-pattern-home-6-about-5.svg',
         $position: calc(0% - 0px) 112.5%,
         $size: 250px
      );
      @include mqs(min-width, tablet, max-width, large) {
         background-position: calc(0% - 0px) 122%;
      }
      @include mq(min-width, large) {
         background-position: calc(0% - 0px) 100%;
         background-size: 170px;
      }
   }

   /* =============== ABOUT =================*/

   @include m(directors) {
      padding: var(--ct-padding-about);
      background-image: url('../assets/bg/bg-pattern-about-2-contact-1.svg'),
         url('../assets/bg/bg-pattern-home-4-about-3.svg');
      background-repeat: no-repeat;
      background-position: calc(0% - 100px) -100px, calc(100% + 0px) 100%;
      background-size: 200px, 150px;
      @include mq(min-width, tablet) {
         background-position: calc(0% - 100px) 0px, calc(100% + 0px) 100%;
      }
   }

   @include m(clients) {
      padding: var(--ct-padding-about);
      @include bg-img(
         $img: '../assets/bg/bg-pattern-about-4.svg',
         $position: calc(0% - 100px) -100px,
         $size: 200px
      );
      @include mq(min-width, tablet) {
         background-position: calc(0% - 0px) -100px;
      }
      @include mq(min-width, large) {
         background-position: calc(0% - 0px) 0%;
         background-size: 180px;
      }
   }

   /* =============== CONTACT =================*/

   @include m(contact) {
      padding: var(--ct-padding-contact);
      @include bg-img(
         $img: '../assets/bg/bg-pattern-contact-2.svg',
         $position: calc(100% + 95px) calc(100% + 112px),
         $size: 200px
      );
      @include mq(min-width, tablet) {
         background-image: url('../assets/bg/bg-pattern-contact-2.svg'),
            url('../assets/bg/bg-pattern-about-2-contact-1.svg');
         background-repeat: no-repeat;
         background-position: calc(100% + 85px) 100%, calc(0% - 100px) 0px;
         background-size: 170px 210px, 190px;
      }
      @include mqs(min-width, large, max-width, align-mw) {
         background-image: url('../assets/bg/bg-pattern-contact-2.svg');
         background-repeat: no-repeat;
         background-position: calc(100% + 100px) 100%;
         background-size: 200px;
      }

      @include e(child) {
         // outline: 1px solid white;
         @include mq(max-width, large) {
            align-items: unset;
            max-width: 630px;
            margin: 0 auto;
         }
      }
   }
}
