@use 'abstracts' as *;

.container {
   width: 90%;
   max-width: var(--align-mw);
   margin-inline: auto;
   outline: 1px solid white;

   @include m(build) {
      --ct-padding-lg: 6.5rem 0 min(15vh, 8.5rem);
      padding: var(--ct-padding-lg);
      @include bg-img(
         $img: '../assets/bg/bg-pattern-home-3.svg',
         $position: calc(100% + 128px) 0%,
         $size: 250px 333px
      );
   }

   @include m(cta) {
      padding: var(--ct-padding-cta);
      @include bg-img(
         $img: '../assets/bg/bg-pattern-home-6-about-5.svg',
         $position: calc(0% - 0px) 120%,
         $size: 250px
      );
   }

   @include m(testimonials) {
      --ct-padding-lg: 12rem 0 min(30vh, 17rem);
      padding: var(--ct-padding-lg);
      background-image: url('../assets/bg/bg-pattern-home-4-about-3.svg'),
         url('../assets/bg/bg-pattern-home-5.svg');
      background-repeat: no-repeat;
      background-position: calc(0% - 0px) 0%, calc(100% + 0px) 100%;
      background-size: 200px, 250px;
   }
}
