@use 'abstracts' as *;

.cta--parent > :first-child {
   @include flexy($dir: column, $align: center);
   --gap: 4rem;
   gap: var(--gap);
   @include mq(min-width, tablet) {
      @include flexy($dir: row, $just: space-between);
   }
   @include mq(min-width, tablet) {
      width: 90%;
      margin: 0 auto;
   }
}
