@use 'abstracts' as *;

.explainer {
   width: 100%;
   max-width: 610px;

   @include mq(min-width, tablet) {
      line-height: 1.7;
   }

   @include mqs(min-width, tablet, max-width, large) {
      width: 85%;
   }

   @include m(hero) {
      @include mqs(min-width, tablet, max-width, large) {
         line-height: 1.9;
      }
      @include mq(min-width, tablet) {
         width: 63%;
         max-width: 700px;
      }
      @include mq(min-width, large) {
         width: 100%;
      }
      @include m(home) {
         @include mq(min-width, large) {
            width: 84%;
         }
      }
   }

   @include m(testimonials) {
      @include mqs(min-width, tablet, max-width, large) {
         line-height: 1.7;
      }
   }

   @include m(directors) {
      margin: 0.5rem 0 1.1rem;
      width: 60%;
      @include mq(max-width, tablet) {
         font-size: 1rem;
      }
      @include mq(min-width, tablet) {
         width: 70%;
      }
   }
}
