@use 'abstracts' as *;

.explainer {
   width: 100%;
   max-width: 610px;

   @include mqs(min-width, tablet, max-width, large) {
      width: 85%;
   }

   @include m(hero) {
      @include mq(min-width, tablet) {
         width: 63%;
         max-width: 700px;
      }
      @include mq(min-width, large) {
         width: 90%;
      }
      @include m(home) {
         @include mq(min-width, large) {
            width: 85%;
         }
      }
   }

   @include m(testimonials) {
      @include mqs(min-width, tablet, max-width, large) {
         max-width: 700px;
      }
   }
}
