@use 'abstracts' as *;
@use 'utilities' as *;

.form {
   outline: none;
   border: 0 0 0.1px solid hsl($clr-pm-white) 0;
   width: 100%;
   padding-top: 1rem;
   @extend %bg-transparent;
   @extend %text-white;
   &::placeholder {
      color: hsl(0 0% 100% / 0.7);
   }
   &:hover,
   &:focus {
      border-bottom-color: hsl($clr-rapture-blue);
   }

   @include m(error) {
      border-bottom-color: hsl($clr-pm-coral);
      &::placeholder {
         color: hsl(0 87% 73% / 0.7);
      }
      &::after {
         // mixin
      }
   }

   @include e(input) {
      padding-bottom: 0.8rem;
   }

   @include e(text-area) {
      padding-bottom: 3rem;
   }
}
