@use 'abstracts' as *;

.mobile-nav-toggle {
   display: none;
   @include mq(max-width, tablet) {
      @include box-model($disp: block);
      width: 1.8rem;
      right: 0;
      z-index: 2000;
      aspect-ratio: 1;
      @include bg-img(
         $img: '../assets/nav/icon-hamburger.svg',
         $position: center,
         $size: 100%
      );
      &[aria-expanded='true'] {
         @include bg-img($img: '../assets/about/icon-close.svg');
      }
   }
}
