@use 'abstracts' as *;

.hero {
   @include m(parent) {
      margin-top: min(var(--margin-hero), 15vh);

      @include e(child) {
         & > article {
            // change article? - specific component class > :first-child {...}
            @include flexy($dir: column, $align: center);
         }
      }
   }
}

.explainer {
   width: 95%;
   max-width: 610px;
}
