@use 'abstracts' as *;

.hero {
   @include m(parent) {
      margin-top: min(var(--margin-hero), 15vh);

      @include e(child) {
         @include mq(min-width, large) {
            &:last-child {
               @include flexy($align: flex-end);
               .header--home & {
                  @include p-el(
                     after,
                     $content: url('../assets/bg/bg-pattern-home-2.svg'),
                     $width: 320px,
                     $height: 100px
                  ) {
                     bottom: -288px;
                     right: 30px;
                  }
               }
            }
         }
         & > article {
            @include mq(max-width, large) {
               @include flexy($dir: column, $align: center);
            }
         }
      }
   }
}
