@use 'abstracts' as *;

.icon {
   @include m(position) {
      position: relative;
      @include p-el(before, $width: 50px, $height: 50px) {
         top: 35%;
         left: 0;
         transform: translateY(-50%);

         .list--build & {
            @include mq($width: max-width, $key: tablet) {
               top: -70px;
               left: 50%;
               transform: translateX(-50%);
            }
         }
      }

      &:first-child {
         @include p-el(before, $content: url('../assets/bg/icon-person.svg')) {
         }
      }
      &:nth-child(2) {
         @include p-el(before, $content: url('../assets/bg/icon-cog.svg')) {
         }
      }
      &:last-child {
         @include p-el(before, $content: url('../assets/bg/icon-chart.svg')) {
         }
      }
   }
}
