@use 'abstracts' as *;

.icon {
   @include m(position) {
      position: relative;
      @include p-el(before) {
         top: 50%;
         left: -85px;
         transform: translateY(-50%);

         .list--build & {
            @include mq($width: max-width, $key: tablet) {
               top: -84px;
               left: 50%;
               transform: translateX(-50%);
            }
         }
      }

      &:first-child {
         @include p-el(before, $content: url('../assets/bg/icon-person.svg')) {
         }
      }
      &:nth-child(2) {
         @include p-el(before, $content: url('../assets/bg/icon-cog.svg')) {
         }
      }
      &:last-child {
         @include p-el(before, $content: url('../assets/bg/icon-chart.svg')) {
         }
      }
   }

   @include m(quote) {
      @include bg-img('../assets/bg/icon-quotes.svg', center 0%, 100px);
   }

   @include m(social) {
      font-size: 2rem;
      color: var(--clr-pm-white);
      transition: color 0.2s ease-in-out;
      &:hover {
         color: var(--clr-pm-coral);
      }
      @include mq(min-width, tablet) {
         font-size: 1.7rem;
      }
   }
}

.social-icon {
   font-size: 2rem;
   color: var(--clr-pm-white);
   transition: color 0.2s ease-in-out;
   &:hover {
      color: var(--clr-pm-coral);
   }
   @include mq(min-width, tablet) {
      font-size: 1.7rem;
   }
}
