@use 'abstracts' as *;

.list {
   // BUILD
   @include m(build) {
      // outline: 1px solid white;
      @include mq($width: max-width, $key: tablet) {
         --flow-space: 8rem;
      }

      @include e(child) {
         @include mq($width: max-width, $key: tablet) {
            @include flexy($dir: column, $align: center);
         }
         & h3 {
            margin-bottom: 0.5rem;
         }
      }
   }

   // SOCIAL
   @include m(social) {
      @include flexy($align: center);
      --gap: 0.8rem;
      gap: var(--gap);
      @include mq(min-width, large) {
         @include flexy($just: flex-end);
      }
   }
}
