@use 'abstracts' as *;

.list {
   @include m(build) {
      @include mq(max-width, tablet) {
         --flow-space: 8rem;
      }
      @include mqs(min-width, tablet, max-width, large) {
         @include flexy($dir: column, $align: center);
      }

      @include e(child) {
         @include mq(max-width, tablet) {
            @include flexy($dir: column, $align: center);
         }
         @include mqs(min-width, tablet, max-width, large) {
            margin-left: 5.3rem;
         }
         & h3 {
            margin-bottom: 0.5rem;
            @include mq(min-width, tablet) {
               margin-bottom: 1rem;
            }
         }
      }
   }

   /*============== ABOUT ==============*/

   @include m(clients) {
      @include flexy($dir: column, $align: center);
      gap: 3.2rem;

      @include mq(min-width, tablet) {
         @include flexy($dir: row, $just: center);
      }
   }

   @include m(directors) {
      @include flexy($dir: column, $align: center);
   }

   /*============== CONTACT ==============*/

   @include m(contact) {
      // outline: 1px solid white;
      @include flexy($dir: column, $align: flex-start);
      gap: 3rem;
      @include mq(min-width, tablet) {
         gap: 3.5rem;
      }
      & > * {
         margin-left: 5.3rem;
         padding-left: 0.7rem;
         width: 65%;
         @include mq(min-width, tablet) {
            width: 100%;
         }
      }
   }

   /*============== ALL ==============*/

   @include m(social) {
      @include flexy($align: center);
      --gap: 0.8rem;
      gap: var(--gap);
      @include mq(min-width, large) {
         @include flexy($just: flex-end);
      }
   }
}
