@use 'abstracts' as *;

.list {
   @include m(build) {
      outline: 1px solid white;
      // min() horizontal margin for aligment?
      @include mq($width: max-width, $key: tablet) {
         --flow-space: 8rem;
      }

      @include e(child) {
         @include mq($width: max-width, $key: tablet) {
            @include flexy($dir: column, $align: center);
         }
         & h3 {
            margin-bottom: 0.5rem;
            @include mq(min-width, tablet) {
               margin-bottom: 1rem;
            }
         }
      }
   }

   // SOCIAL
   @include m(social) {
      @include flexy($align: center);
      --gap: 0.8rem;
      gap: var(--gap);
      @include mq(min-width, large) {
         @include flexy($just: flex-end);
      }
   }

   @include m(clients) {
      @include flexy($dir: column, $align: center);
      gap: 3.2rem;

      @include mq(min-width, tablet) {
         @include flexy($dir: row, $just: center);
      }
   }
}
