@use 'abstracts' as *;

.logo {
   @include m(pm) {
      left: 0;
      @include mq(min-width, tablet) {
         width: 130px;
      }
   }

   @include m(sd) {
      width: 130px;
      @include mq(min-width, large) {
         width: 150px;
      }
   }

   @include m(client) {
      width: 200px;
      @include e(gadget) {
         width: 120px;
      }
      @include mq(min-width, tablet) {
         // width: 250px;
      }
   }
}
