@use 'abstracts' as *;

.logo {
   @include m(pm) {
      display: inline-block;
      @include position($pos: absolute, $z-index: 2) {
         top: 50%;
         left: 0;
         transform: translateY(-50%);
      }
   }

   @include m(sd) {
      width: 130px;
      @include mq(min-width, large) {
         width: 150px;
      }
   }
}
