@use 'abstracts' as *;

.sidebar {
   display: none;
   @include mq(max-width, tablet) {
      display: block;
      padding: min(10rem, 20vh) 3rem;
      width: 310px;
      position: fixed;
      inset: 0 0 0 calc(100% - 310px);
      z-index: 1000;
      transform: translateX(100%);
      overflow-x: hidden;
      transition: transform 0.5s ease-in-out;
      @include bg-img(
         $img: '../assets/bg/bg-pattern-about-1-mobile-nav-1.svg',
         $position: calc(100% + 153px) 100%,
         $size: 300px
      );
      & li:nth-child(2) {
         margin-left: 0.4rem;
      }
      &[data-visible='true'] {
         transform: translateX(0);
      }
   }
}

// Overlay

body {
   @include mq(max-width, tablet) {
      @include p-el('before', $position: fixed) {
         inset: 0;
         z-index: 999;
         background-color: rgba(0, 0, 0, 0.55);
         opacity: 0;
         pointer-events: none;
         transition: opacity 0.5s ease-in-out;
      }
      &[data-visible='true'] {
         overflow-y: hidden;
         @include p-el('before') {
            opacity: 1;
            pointer-events: all;
         }
      }
   }
}
