@use 'abstracts' as *;

.small-border {
   @include p-el(before, $width: 67px, $height: 6px) {
      top: 0;
      left: 0;
      background-color: var(--clr-pm-coral);
   }

   @include m(hero) {
      @include mq($width: max-width, $key: large) {
         @include p-el(before) {
            opacity: 0;
         }
      }
   }

   .header--home & {
      @include p-el(before) {
         background-color: var(--clr-rapture-blue);
      }
   }
}
