@use 'abstracts' as *;

.small-border {
   @include p-el(before, $width: 67px, $height: 6px) {
      top: 0;
      left: 0;
      background-color: var(--clr-pm-coral);
      @include mq(min-width, large) {
         height: 4px;
         width: 50px;
      }
   }

   @include m(hero) {
      @include mq($width: max-width, $key: large) {
         @include p-el(before) {
            opacity: 0;
         }
      }
   }

   @include m(build) {
      @include mq(min-width, large) {
         @include p-el(before) {
            top: -45px;
         }
      }
   }

   @include m(about) {
      @include mq(min-width, large) {
         @include p-el(before) {
            top: -15px;
         }
      }
   }

   .header--home & {
      @include p-el(before) {
         background-color: var(--clr-rapture-blue);
      }
   }
}
