@use 'abstracts' as *;

.split {
   @include m(parent) {
      outline: 1px solid white;
      @include flexy();
      gap: var(--gap);
      @include mq($width: max-width, $key: large) {
         @include flexy($dir: column, $align: center);
      }

      .header--pm & {
         @include mq($width: max-width, $key: large) {
            --gap: 1.8rem;
         }
      }

      .container--build & {
         @include mq($width: max-width, $key: tablet) {
            --gap: 12rem;
         }
      }

      .container--testimonials & {
         --gap: 4rem;
      }

      // children
      & > * {
         position: relative;
         @include mq($width: min-width, $key: large) {
            flex: 1 100%;
         }
      }
   }

   // @include m(child) {
   // position: relative;
   // }
}
