@use 'abstracts' as *;

.split {
   @include m(parent) {
      @include flexy($dir: column, $align: center);
      gap: var(--gap);

      .header--pm & {
         @include mq($width: max-width, $key: large) {
            --gap: 1.8rem;
         }
      }

      .container--build & {
         @include mq($width: max-width, $key: tablet) {
            --gap: 12rem;
         }
      }

      .container--testimonials & {
         --gap: 4rem;
      }
   }

   @include m(child) {
      position: relative;
   }
}
