@use 'abstracts' as *;

.split {
   @include m(parent) {
      @include flexy();
      gap: var(--gap);
      @include mq(max-width, large) {
         @include flexy($dir: column, $align: center);
      }

      .header--pm & {
         @include mq($width: max-width, $key: large) {
            --gap: 1.8rem;
         }
      }

      .header--home & {
         @include mq(min-width, large) {
            --gap: 7.5rem;
         }
      }

      .container--build & {
         @include mq(max-width, tablet) {
            --gap: 10rem;
         }
         @include mqs(min-width, tablet, max-width, large) {
            align-items: flex-start;
         }
         @include mq(min-width, large) {
            --gap: 11rem;
         }
      }

      .container--testimonials & {
         --gap: 4rem;
         @include mq(min-width, tablet) {
            --gap: 3rem;
         }
         @include mq(min-width, large) {
            --gap: 2rem;
         }
      }

      // children
      & > * {
         position: relative;
         @include mq(min-width, large) {
            flex: 1 100%;
         }
      }

      @include m(offset) {
         @include mq(min-width, large) {
            & > * {
               flex: 0 1 auto;
            }
         }
      }

      @include m(about) {
         @include mq(min-width, large) {
            --gap: 10.5rem;
            min-height: 6rem;
         }
      }

      @include m(contact) {
         gap: var(--gap-contact);
      }
   }
}
