@use 'abstracts' as *;

.title {
   @include m(home) {
      @include mq(min-width, large) {
         white-space: nowrap;
      }
   }

   @include m(build) {
      width: 70%;
      @include mq(min-width, tablet) {
         width: 75%;
      }
      @include mq(min-width, large) {
         width: 85%;
      }
   }

   @include m(testimonials) {
      margin-bottom: 4rem;
      @include mq(min-width, tablet) {
         margin: 0 auto 4rem;
      }
      @include mqs(min-width, tablet, max-width, large) {
         width: 75%;
         max-width: 550px;
      }
      @include mq(min-width, large) {
         width: 75%;
      }
   }

   /* ================ ABOUT ============== */

   @include m(clients) {
      margin-bottom: 4rem;
      @include mq(min-width, tablet) {
         margin-bottom: 3.5rem;
      }
   }

   @include m(directors) {
      margin-bottom: 3.5rem;
   }

   /* ================ CONTACT ============== */

   @include m(contact) {
      margin-bottom: 1rem;
      @include mq(min-width, tablet) {
         margin-bottom: 1.7rem;
      }
      @include mq(min-width, large) {
         margin-bottom: 2.5rem;
      }
      @include e(sd) {
         margin-bottom: 3.7rem;
         @include mq(min-width, large) {
            margin-bottom: 3.4rem;
         }
      }
   }
   /* ================ ALL ============== */

   @include m(cta) {
      letter-spacing: 0.7px;
      font-weight: var(--fw-bold);
   }
}
