@use 'abstracts' as *;

.title {
   @include m(build) {
      width: 78%;
   }

   @include m(cta) {
      letter-spacing: 0.7px;
   }

   @include m(testimonials) {
      margin-bottom: 4rem;
   }
}
