$breakpoints: (
   tablet: 50em,
   medium: 90em,
   large: 130em,
);

$colors: (
   pm-green: hsl(186 98% 17%),
   pm-coral: hsl(0 87% 73%),
   pm-white: hsl(0 0% 100%),
   rapture-blue: hsl(179 42% 63%),
   police-blue: hsl(187 41% 29%),
   jungle-green: hsl(186 100% 14%),
   sacramento-green: hsl(186 96% 10%),
   dark-green: hsl(186 100% 8%),
);

$type-scale: (
   small: (
      fs-500: 4.2667rem,
      // h1
      fs-400: 3.2rem,
      // h2 no change
      fs-300-h3: 1.5rem,
      fs-300: 1.2rem,
      // contact no change
      fs-200: 1.2rem,
      // wide: 0.9375rem,
   ),
   large: (
      fs-500: 6.6667rem,
      fs-400: 3.2rem,
      fs-300-h3: 1.2rem,
      fs-300: 1.2rem,
      fs-200: 0.9375rem,
   ),
   line-heights-small: (
      lh-500: 1,
      lh-400: 1,
      // h2 no change
      lh-300: 1.5556,
      // contact + h3 no change
      lh-200: 1.666,
   ),
   line-heights-large: (
      lh-500: 0.875,
      lh-400: 1,
      lh-300: 1.5556,
      lh-200: 1.5556,
   ),
   alignment-small: (
      alignment: center,
   ),
   alignment-large: (
      alignment: left,
   ),
);

$typography: (
   sizes: (
      fs-600: 6.6667rem,
      // h1 - wide
      fs-500: 4.2667rem,
      // h1 - mobile
      fs-400: 3.2rem,
      // h2 no change
      fs-300-h3: 1.5rem,
      // wide: 1.2rem
      fs-300: 1.2rem,
      // contact no change
      fs-200: 1.2rem,
      // wide: 0.9375rem,
   ),
   weights: (
      fw-regular: 400,
      fw-medium: 500,
      fw-semi-bold: 600,
      fw-bold: 700,
   ),
   line-heights: (
      lh-600: 1,
      lh-500: 0.875,
      lh-400: 1,
      lh-300: 1.5556,
      lh-200: 1.666,
   ),
   alignment: (
      ta-center: center,
   ),
);

$layout: (
   margin-test: 3rem,
   align-mw: 60rem,
   ct-padding-sm: 2rem 0,
   // footer + cta
   ct-padding-md: 3rem 0,
   // clients
   ct-padding-lg: 4rem 0,
   // evertyhing else
   // same top padding for all pages + diff bottom for homepage
   gap: 1rem,
   flow-space: 1rem,
   // flex-basis: 250px, - 100% change
);
