@use 'variables' as *;
@use 'maps' as *;

// =========================================
// BEM
// =========================================

@mixin e($element) {
   &__#{$element} {
      @content;
   }
}

@mixin m($modifier) {
   &--#{$modifier} {
      @content;
   }
}

// =========================================
// flex
// =========================================

@mixin flex-parent($direction, $justify, $align) {
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align;
}

// =========================================
// BG-IMG
// =========================================

@mixin bg-img($img, $position, $size) {
   background-image: url('#{$img}');
   background-repeat: no-repeat;
   background-position: #{$position};
   background-size: #{$size};
}

// =========================================
// pseudo-el
// =========================================

@mixin p-el($el, $width: null, $height: null) {
   @if $el == 'before' or $el == 'after' {
      &::#{$el} {
         content: '';
         position: absolute;
         display: block;
         width: $width;
         height: $height;
         @content;
      }
   } @else {
      @error 'Before or after string required for valid pseudo element.';
   }
}

// =========================================
// media query
// =========================================

@mixin mq($key) {
   @media (min-width: map-get($breakpoints, $key)) {
      @content;
   }
}

// =========================================
// feature query
// =========================================

@mixin fq($prop, $val) {
   @supports (#{$prop}: $val) {
      @content;
   }
}
