@use 'variables' as *;
@use 'maps' as *;

// =========================================
// BEM
// =========================================

@mixin e($element) {
   &__#{$element} {
      @content;
   }
}

@mixin m($modifier) {
   &--#{$modifier} {
      @content;
   }
}

// =========================================
// flex
// =========================================

@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
   display: $disp;
   flex-direction: $dir;
   flex-wrap: $wrap;
   justify-content: $just;
   align-items: $align;
}

// =========================================
// box-model
// =========================================

@mixin box-model(
   $disp: null,
   $width: null,
   $height: null,
   $margin: null,
   $padding: null,
   $border: null
) {
   display: $disp;
   width: $width;
   height: $height;
   margin: $margin;
   padding: $padding;
   border: $border;
}

// =========================================
// bg-img
// =========================================

@mixin bg-img($img: null, $position: null, $size: null) {
   background-image: url('#{$img}');
   background-repeat: no-repeat;
   background-position: #{$position};
   background-size: #{$size};
}

// =========================================
// pseudo-el
// =========================================

@mixin p-el($el, $content: '', $width: null, $height: null) {
   @if $el == 'before' or $el == 'after' {
      &::#{$el} {
         content: $content;
         position: absolute;
         display: block;
         width: $width;
         height: $height;
         @content;
      }
   } @else {
      @error 'Before or after string required for valid pseudo element.';
   }
}

// =========================================
// social-icons
// =========================================

@mixin social-icon() {
   transition: transform 200ms linear, color 130ms linear;
   &:hover,
   &:focus {
      color: var(--clr-pm-coral);
      transform: scale(1.1);
   }
}

// =========================================
// media query
// =========================================

@mixin mq($key) {
   @if $key == 'tablet' or $key == 'medium' or $key == 'large' {
      @media (min-width: map-get($breakpoints, $key)) {
         @content;
      }
   } @else {
      @error 'Tablet, medium or large required for valid media query.';
   }
}

// =========================================
// feature queries
// =========================================

@mixin fq($prop, $val) {
   @supports (#{$prop}: $val) {
      @content;
   }
}

@mixin fqs($selector) {
   @supports selector(#{$selector}) {
      @content;
   }
}
