@use 'abstracts' as *;

/* ----- bg colors ------ */

%bg-green-pm {
   background-color: hsl(var(--clr-pm-green));
}

%bg-green-jungle {
   background-color: hsl(var(--clr-jungle-green));
}

%bg-green-dark {
   background-color: hsl(var(--clr-dark-green));
}

%bg-green-sac {
   background-color: hsl(var(--clr-sacramento-green));
}

%bg-coral {
   background-color: hsl(var(--clr-pm-coral));
}

%bg-white {
   background-color: hsl(var(--clr-pm-white));
}

%bg-rapture {
   background-color: hsl(var(--clr-rapture-blue));
}

%bg-transparent {
   background-color: transparent;
}

/* ----- fg colors ------ */

%text-white {
   color: hsl(var(--clr-pm-white));
}

%text-coral {
   color: hsl(var(--clr-pm-coral));
}

%text-rapture {
   color: hsl(var(--clr-rapture-blue));
}

%text-dark {
   color: hsl(var(--clr-dark-green));
}
