@use 'abstracts' as *;

/* ----- bg colors ------ */

%bg-green-pm {
   background-color: hsl($clr-pm-green);
}

%bg-green-jungle {
   background-color: hsl($clr-jungle-green);
}

%bg-green-dark {
   background-color: hsl($clr-dark-green);
}

%bg-green-sac {
   background-color: hsl($clr-sacramento-green);
}

%bg-coral {
   background-color: hsl($clr-pm-coral);
}

%bg-white {
   background-color: hsl($clr-pm-white);
}

%bg-rapture {
   background-color: hsl($clr-rapture-blue);
}

%bg-transparent {
   background-color: transparent;
}

/* ----- fg colors ------ */

%text-white {
   color: hsl($clr-pm-white);
}

%text-coral {
   color: hsl($clr-pm-coral);
}

%text-rapture {
   color: hsl($clr-rapture-blue);
}

%text-dark {
   color: hsl($clr-dark-green);
}

// /* ----- bg colors ------ */

// .bg-green-pm {
//    background-color: hsl($clr-pm-green);
// }

// .bg-green-jungle {
//    background-color: hsl($clr-jungle-green);
// }

// .bg-green-dark {
//    background-color: hsl($clr-dark-green);
// }

// .bg-green-sac {
//    background-color: hsl($clr-sacramento-green);
// }

// .bg-coral {
//    background-color: hsl($clr-pm-coral);
// }

// /* ----- fg colors ------ */

// .text-white {
//    color: hsl($clr-pm-white);
// }

// .text-coral {
//    color: hsl($clr-pm-coral);
// }

// .text-rapture {
//    color: hsl($clr-rapture-blue);
// }

// .text-dark {
//    color: hsl($clr-dark-green);
// }
