@use 'abstracts' as *;

.container {
   width: 90%;
   max-width: var(--align-mw);
   margin-inline: auto;
   //    outline: 2px solid white;
}

.flow > *:where(:not(:first-child)) {
   margin-top: var(--flow-space, 1rem);
}

%flex {
   display: flex;
   gap: var(--gap, 1rem);
}

%grid {
   display: grid;
   gap: var(--gap, 1rem);
}
