@use 'abstracts' as *;

.container {
   width: 90%;
   max-width: 60rem;
   margin-inline: auto;
   //    outline: 2px solid white;
}

.flow > *:where(:not(:first-child)) {
   margin-top: $flow-space;
}

%flex {
   display: flex;
   // gap
}

%grid {
   display: grid;
   // gap
}
