@use 'abstracts' as *;

.grid-container--directors {
   outline: 1px solid white;
   gap: var(--gap-directors);

   @include e(item) {
      position: relative;
      padding: 2rem 0 4rem;
      background-color: rgba(hsl(186 96% 10%), 0.8);
   }
}

.extra-info {
   //    pointer events when invisible or negative z-index
   @include position(absolute, $z-index: 2);
   inset: 0;
   @include flexy($dir: column, $align: center);
   padding-top: 1.8rem;
   text-align: center;
   opacity: 0;
   transition: opacity 0.3s linear;
   &[data-visible='true'] {
      opacity: 1;
   }
   & > .quote {
      margin: 0.5rem 0 1.5rem;
      width: 90%;
   }
}
