@use 'abstracts' as *;

.grid-container--directors {
   gap: var(--gap-directors);
   grid-template-columns: 1fr;
   grid-auto-rows: auto;
   @include mq(min-width, tablet) {
      grid-template-columns: repeat(2, 1fr);
   }
   @include mqs(min-width, tablet, max-width, large) {
      width: 90%;
      margin: 0 auto;
   }
   @include mq(min-width, large) {
      grid-template-columns: repeat(3, 1fr);
   }
   @include e(item) {
      position: relative;
      padding: 2rem 0 4rem;
      background-color: rgba(hsl(186 96% 10%), 0.8);
   }
}

.extra-info {
   @include position(absolute, $z-index: 2);
   inset: 0;
   @include flexy($dir: column, $align: center);
   padding-top: 1.8rem;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s linear;
   &[data-visible='true'] {
      opacity: 1;
      pointer-events: all;
   }
}
