@use 'abstracts' as *;

.build--parent {
   @include e(child) {
      // outline: 1px solid red;
      &:first-child {
         padding-top: 2.5rem;
      }
      &:last-child {
         @include mq($width: min-width, $key: tablet) {
            text-align: left;
         }
      }
   }
}

.testimonials--parent {
   @include e(quotes) {
      & article {
         padding-top: 3.4rem;
         @include flexy($dir: column, $align: center);
         & .explainer {
            margin-bottom: 1.3rem;
         }
      }
   }
}
