@use 'abstracts' as *;

.build--parent {
   @include e(child) {
      &:first-child {
         @include mq(max-width, large) {
            padding-top: 3rem;
         }
      }
      &:last-child {
         @include mq($width: min-width, $key: tablet) {
            text-align: left;
         }
      }
   }
}

.testimonials--parent {
   @include e(quotes) {
      & article {
         padding-top: 3rem;
         @include flexy($dir: column, $align: center);
         & .quote {
            padding-top: 0.5rem;
            margin-bottom: 1.3rem;
            @include mq(min-width, tablet) {
               margin-bottom: 2rem;
            }
            @include mq(min-width, large) {
               width: 100%;
               margin-bottom: 1rem;
            }
         }
      }
   }
}
