@use 'abstracts' as *;
@use 'utilities' as *;

body {
   // @extend %bg-green-pm;
   // @extend %text-white;
}

fieldset {
   padding: 0;
   margin: 0;
   border: none;
}

a {
   text-decoration: none;
}

button {
   &:hover {
      cursor: pointer;
   }
}

// input {
//    border: none;
//    outline: 1px solid;
// }

// Accessibility

// :focus-within {
//    outline: 3px dotted red;
// }
